
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family:   'Arial Narrow Bold', sans-serif;
}
.box1 {
    background-image: url(pexels-mayur-sable-13427001.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 40.8em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}
.box2 {
    background-color:rgba(16, 36, 73,0.9);
    height: 20rem;
    width: 18rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    border: 6px solid rgb(0, 60, 255);
    box-shadow: 7px 7px 30px  rgb(32, 157, 240);
   

}
.box3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    color:yellow;
    gap: 6px;
}
.gmail-box {
}
.password-box {
}
.btn1 {
    margin-top:1.2rem ;
    height: 27px;
    width: 75px;
}
.btn1:hover{
    background-color: rgba(24, 111, 118, 0.7);
}
.gmail-box , .password-box{
    height: 1.5rem;
    text-align: center
}
.forget-p{
    color: bisque;
    text-decoration:underline;
    margin-top: 1.1rem;
    cursor: pointer;
}